<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-5">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center">Registration</h4>
          <form [formGroup]="regForm" (ngSubmit)="submitForm()">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name"
                formControlName="formname">
              <div id="emailHelp" class="form-text text-danger"
                *ngIf="regForm.controls['formname'].touched && regForm.controls['formname'].invalid ">
                <small class="form-text text-danger" *ngIf="regForm.controls['formname'].errors?.['required']">
                  We'll never share your Name with anyone else
                </small>
                <small class="form-text text-danger" *ngIf="regForm.controls['formname'].errors?.['pattern']">
                  Name must not start number or #$@ and no spaces
                </small>
              </div>
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username"
                formControlName="formUname">
            </div>
            <div id="emailHelp" class="form-text text-danger"
              *ngIf="regForm.controls['formUname'].touched && regForm.controls['formUname'].invalid ">
              <small class="form-text text-danger" *ngIf="regForm.controls['formUname'].errors?.['required']">
                We'll never share your Username with anyone else
              </small>
              <small class="form-text text-danger" *ngIf="regForm.controls['formUname'].errors?.['pattern']">
                Username must start @ and no spaces.
              </small>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="formEmail">
              <div id="emailHelp" class="form-text text-danger"
                *ngIf="regForm.controls['formEmail'].touched && regForm.controls['formEmail'].invalid ">
                <small class="form-text text-danger" *ngIf="regForm.controls['formEmail'].errors?.['required']">
                  We'll never share your Email with anyone else
                </small>
                <small class="form-text text-danger" *ngIf="regForm.controls['formEmail'].errors?.['pattern']">
                  Email must letters ( uppercase and lowercase), Numbers, @ , $ , . , - .<br>
                  <strong class="form-text text-danger"> EX: abc.12@gmail.com</strong>
                </small>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password"
                formControlName="formPass"
                title="Your password must be at least 8 characters long, and must include at least one lowercase letter, one uppercase letter, one number, and one special symbol.">
              <div id="emailHelp" class="form-text text-danger"
                *ngIf="regForm.controls['formPass'].touched && regForm.controls['formPass'].invalid ">
                <small class="form-text text-danger" *ngIf="regForm.controls['formPass'].errors?.['required']">
                  We'll never share your Password with anyone else
                </small>
                <small class="form-text text-danger" *ngIf="regForm.controls['formPass'].errors?.['pattern']">
                  Your password must be at least 8 characters long, and must include at least one lowercase letter, one
                  uppercase letter, one number, and one special symbol.
                </small>
              </div>
            </div>
            <div class="mb-3">
              <label for="confirm-password" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="confirm-password" placeholder="Confirm password"
                formControlName="formCPass">
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary" [disabled]="regForm.invalid">Register</button>
            </div>
            <h6 class="my-2 text-center">Already have account! <a href="Login/Log-In">Login</a></h6>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
