<div class="row my-5">
  <div class="col-12">
    <div class="card details m-auto " style="width: 400px">
      <img class="card-img-top" [src]="product.thumbnail" alt="Card image" />
      <div class="card-body">
        <h3 class="card-title">{{ product.title }}</h3>
        <h6 class="card-text text-primary">Details :</h6>
        <h6 class="card-text">{{ product.description }}</h6>
        <div class="card-body d-flex text-center">
          <p class="card-text mx-5 text-capitalize fw-bold">
            {{ product.brand }} :
          </p>
          <p class="card-text" style="font-weight: bolder">
            {{ product.price | currency : "LE" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
